<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
999
<div id="rrr">rrr</div>

<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="webjars/jquery-ui/1.11.1/jquery-ui.min.js"></script>
<script src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="test2.js"></script>
</body>
</html>